.DS_Store
__pycache__/


*.vscode
*.tdms
*.parquet
*.pyc
*.png
*.csv
*.pytest_cache
*.pkl
*.pt
*.pth
*.log
notes.txt
*.7z
*.tar
*.gz
*.mojo
*.db
*.jpg
*.txt
todo.txt
PKG-INFO
profiling_info.prof
build/*
